@import url(./normalize.css);
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* 헤더 영역 */
.header {
    /* background-color: #fff;
    opacity: 1; */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition-property: background, color;
}
.header::after {
    content: "";
    background-color: #fff;
    color: #000;
}
.header__logo {
    background-image: url(../image/logo.png);
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: center;
    width: 62px;
    padding: 0 12px;
    margin-right: 36px;
}
.header__title {
    font-size: 1px;  /* 임시속성 */
    opacity: 0;
    margin: 0;
/* 숨김처리 필요 속성 */
}
.header__nav--flex {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
}
.header__nav {
    width: 100%;
}
.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}
.header__nav-list li:nth-child(4) {
    margin-left: auto;
}
.header__nav-list-item {
    padding: 0 14px;
    line-height: 80px;
    cursor: pointer;
}
.header__nav-list-item a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: inherit;
}
.header__nav-sublist {
    display: none;
}


/* 메인 예약 섹션 */
.main__booking {
    position: relative;
    z-index: -1;
    height: 852px;
}
.main__booking--bg1 {
    background-image: url(../image/main-01-desktop.jpg);
    background-position-x: center;
    background-size: cover;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    animation-name: booking_bg_ani1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.main__booking--bg2 {
    background-image: url(../image/main-02-desktop.jpg);
    background-position-x: center;
    background-size: cover;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    animation-name: booking_bg_ani2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.main__booking--bg3 {
    background-image: url(../image/main-03-desktop.jpg);
    background-position-x: center;
    background-size: cover;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation-name: booking_bg_ani3;
    animation-duration: 15s;
    animation-iteration-count: infinite; 
}

@keyframes booking_bg_ani1 {
    0% {
        opacity: 100;
    }
    20% {
        opacity: 100;
    }
    33% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes booking_bg_ani2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    33% {
        opacity: 100;
    }
    53% {
        opacity: 100;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes booking_bg_ani3 {
    0% {
        opacity: 0;
    }
    53% {
        opacity: 0;
    }
    67% {
        opacity: 100;
    }
    80% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

.main__booking--flex {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 200px;
    z-index: 4;
    background-position-x: center;
    background-size: cover;
    height: inherit;
    max-width: 830px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
}
.main__booking-intro {
    height: 160px;
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 80px;
}

.main__booking-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    margin: 0;
}
.main__booking-button {
    margin-top: 80px;
    width: 256px;
    height: 56px;
    background-color: rgb(5, 92, 245);
    border-radius: 2px;
    border: medium none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.main__booking-heading {
    margin: 0;
    /* 숨김처리 필요 */
}